
body {
	width: auto;
	margin: 10px;
	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	font-size: 1em;
	margin: 0 auto;
	padding: none;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
}

nav ul {
	display: flex; /* Makes the ul a flex container for its list items */
    list-style: none; /* Removes bullet points */
    padding: 0;
}

nav ul li {
	padding: 0 20px 0 0;
}

/* Styles for screens wider than 1024px (desktops) */
@media only screen and (min-width: 720px) {
  body {
    width: 600px; /* Set a specific width for desktops */
    margin: 0 auto; /* Center the body horizontally on the page */
  }
}
